[submodule "deps/14_LetrasAcordesv4"]
	path = deps/14_LetrasAcordesv4
	url = /Users/ggndara/Documents/Codex/14_LetrasAcordesv4
[submodule "deps/15_EditorChordPro"]
	path = deps/15_EditorChordPro
	url = /Users/ggndara/Documents/Codex/15_EditorChordPro
